body {
    background-color: grey;
    font-family: 'Impact', sans-serif;
    font: black;
}

*{
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 500px;
}

 .mem input,
 .mem-pic {
    display: none;
 }

 .mem {
    background: white;
    color:rgb(39, 49, 41);
    border-radius: 1%;
    margin: 0 1%;
 }

 .mem-title {
    cursor: pointer;
    display: flex;
    padding: auto;
    position: relative;
 }

.mem-title::after {
    content: 'plus.svg';
}

.mem :checked + .mem-title:after {
    content: 'minus.svg';
}

.mem :checked ~ .mem-pic {
    display: block;
}

.mem-pic {
    margin: auto;
    overflow: hidden;
    padding: 20% 20%;
}

